.education-section {
    margin-bottom: 30px;
  }
  
  .Edu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* left: 5%;
    right: 5%; */
  }
  .education-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .education-item {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
  }
  
  .education-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .education-degree, .education-dates {
    margin-bottom: 10px;
    color: #888;
  }
  
  .education-description {
    margin-top: 10px;
  }
  
  /* Media queries for responsive design */
  @media (max-width: 600px) {
    .education-item {
      display: flex;
      flex-direction: column;
      padding: 15px;
      width: 90%;
      align-items: center;
      justify-content: center;
    }
    .Edu{
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 10rem;
      right: 10rem;
    }
  }
  