.container.contact__container{
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3rem;
    /* border: 1px solid red; */
    
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    /* border: 1px solid blue; */
    /* width: 73%; */
    
}
.contact__container >form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 60%;
    border-radius: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
     
}

.contact__option{
    background: var(--color-bg-variant);
    padding: 0.7rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 0.5rem;
    color: var(--color-primary);
    
    
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    font-size: 1.4rem;
    margin-bottom: 0.2rem; 
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
    text-decoration: underline;
    /* color:var(--color-bg) */
}


 /* ============ Form =================  */

 form{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    font-size: 2rem;
    
 }

 input, textarea{
    width:90%;
    padding: 1.4rem;
    border-radius:0.5rem; 
    resize: none;
    color: var(--color-bg);
    font-size: 0.8rem;
 }

textarea{
    height: 25rem;
}

 /* ++++++++++++ MEDIA QUARIES +++++++++++++++ */

 @media screen and (max-width: 1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 73%;
       
    }
   
    
 }


 @media screen and (max-width: 600px){
    .container.contact__container{
       width: var(--container-width-sm);
       /* width: 73%; */

     
       
    }
    .contact__options{
        /* width: var(--container-width-sm) */
        width: 95%;
        position: relative;
        left: 10px;

    }
    .contact__container >form{
        
        /* border: 1px solid green; */
      
    }

 }